<%- include('../layoutes/header.ejs') %>
  <%- include('../layoutes/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-warning ">
      <!-- Content Header (Page header) -->
      <div class="content-header">

      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <!-- /.card -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Edit Student</h3>
          </button>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
         
                  <div class="modal-body">
                    <form action="/admin/studentupdate/<%= d._id%>" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" value="<%= d.name %>" name="name" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" value="<%= d.email %>" name="email" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input readonly type="password" value="<%= d.password %>" name="password" class="form-control"
                          required>
                      </div>
                      <div class="form-group">
                        <label>Image</label>
                        <input type="file" value="<%= d.image %>" name="image" class="form-control" required>
                      </div> <br>
                      <img src="<%= d.image.url %>" alt="" width="50" style="border-radius: 20px;">
                      <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                  </div>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- Modal add student -->

      <!-- modal add student end -->

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('../layoutes/footer.ejs') %>